body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    image-rendering: crisp-edges;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 30px auto;
    image-rendering: crisp-edges;

}
.pokemon-card{

    width:430px;

    background:white;

    border-radius:30px;

    overflow:hidden;

    box-shadow:0 20px 40px rgba(0,0,0,.35);

    margin-top:30px;
}
input{

    width:280px;

    padding:15px;

    border-radius:40px;

    border:none;

    font-size:18px;
    
    text-align: center;

}

button{

    padding:15px 25px;

    border-radius:40px;

    border:none;

    cursor:pointer;

    background:#ffcb05;

    font-weight:bold;


}
.search-container {
    margin: 30px 0;
}
.search-container form {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.types{

    display:flex;

    justify-content:center;

    gap:10px;

    margin:20px 0;
}
.card-header{

    position:relative;

    height:230px;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;
}
.card-header::after{

    content:"";

    position:absolute;

    top:-40%;

    right:-20%;

    width:220px;

    height:220px;

    border-radius:50%;

    background:rgba(255,255,255,.18);
}
.circle{

    position:absolute;

    width:180px;

    height:180px;

    border-radius:50%;

    background:rgba(255,255,255,.2);
}
.pokemon-image{

    width:180px;

    position:relative;

    z-index:2;

    transition:.3s;
}

.pokemon-image:hover{

    transform:scale(1.08);
}
.normal {
    background: #A8A77A;
}

.fire {
    background: #EE8130;
}

.water {
    background: #6390F0;
}

.electric {
    background: #F7D02C;
    color: #333;
}

.grass {
    background: #7AC74C;
}

.ice {
    background: #96D9D6;
    color: #333;
}

.fighting {
    background: #C22E28;
}

.poison {
    background: #A33EA1;
}

.ground {
    background: #E2BF65;
    color: #333;
}

.flying {
    background: #A98FF3;
}

.psychic {
    background: #F95587;
}

.bug {
    background: #A6B91A;
}

.rock {
    background: #B6A136;
}

.ghost {
    background: #735797;
}

.dragon {
    background: #6F35FC;
}

.dark {
    background: #705746;
}

.steel {
    background: #B7B7CE;
    color: #333;
}

.fairy {
    background: #D685AD;
}


.stats{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:15px;

    margin-top:25px;
}
.info-box{

    background:#f6f6f6;

    border-radius:15px;

    padding:15px;
}
.card-content{

    padding:25px;
}