body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    image-rendering: crisp-edges;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 30px auto;
    image-rendering: crisp-edges;

}
.pokemon-card{

    width:430px;

    background:white;

    border-radius:30px;

    overflow:hidden;

    box-shadow:0 20px 40px rgba(0,0,0,.35);

    margin-top:30px;
}
input{

    width:280px;

    padding:15px;

    border-radius:40px;

    border:none;

    font-size:18px;
    
    text-align: center;

}

button{

    padding:15px 25px;

    border-radius:40px;

    border:none;

    cursor:pointer;

    background:#ffcb05;

    font-weight:bold;


}
.search-container {
    margin: 30px 0;
}
.search-container form {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.types{

    display:flex;

    justify-content:center;

    gap:10px;

    margin:20px 0;
}
.card-header{

    position:relative;

    height:220px;

    display:flex;

    justify-content:center;

    align-items:center;
}
.circle{

    position:absolute;

    width:180px;

    height:180px;

    border-radius:50%;

    background:rgba(255,255,255,.2);
}
.pokemon-image{

    width:180px;

    position:relative;

    z-index:2;

    transition:.3s;
}

.pokemon-image:hover{

    transform:scale(1.08);
}
.fire{
    background:#F08030;
}

.water{
    background:#6890F0;
}

.grass{
    background:#78C850;
}

.electric{
    background:#F8D030;
}

.psychic{
    background:#F85888;
}

.ghost{
    background:#705898;
}

.dragon{
    background:#7038F8;
}

.fairy{
    background:#EE99AC;
}
.stats{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:15px;

    margin-top:25px;
}
.info-box{

    background:#f6f6f6;

    border-radius:15px;

    padding:15px;
}
.card-content{

    padding:25px;
}