<!DOCTYPE html>
<html>

<head>
    <title>Pokedex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <img src="{{ url_for('static', filename='logo.png') }}"
         alt="Pokémon Logo"
         class="logo">

<div class="search-container">
    <form method="POST">

    <input
        type="text"
        name="pokemon"
        placeholder="Enter Pokémon">

    <button type="submit" name="action" value="search">
        Search
    </button>

    <button type="submit" name="action" value="all">
        Show All
    </button>

    </form>
</div>

    {% if pokemon %}
<div class="pokemon-card">

    <div class="card-header" style="{{ header_style }}">
        <div class="circle"></div>

        <img
            class="pokemon-image"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.dex }}.png">

    </div>

    <div class="card-content">

        <h2>{{ pokemon.name.title() }}</h2>

        <p class="dex-number">
            #{{ "%03d"|format(pokemon.dex) }}
        </p>

        <div class="types">

            {% for type in pokemon.types %}

            <span class="type {{ type.lower() }}">
                {{ type }}
            </span>

            {% endfor %}

        </div>

 

    </div>

</div>

    {% endif %}
{% if pokemon_list %}

<div class="pokemon-grid">

    {% for pokemon in pokemon_list %}

    <div class="mini-card">

    <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.dex }}.png">

    <h3>{{ pokemon.name.title() }}</h3>

    <p>#{{ "%03d"|format(pokemon.dex) }}</p>

    <div class="types">
        {% for type in pokemon.types %}
        <span class="type {{ type.lower() }}">
            {{ type }}
        </span>
        {% endfor %}
    </div>

    </div>

    {% endfor %}

</div>

{% endif %}
</body>

</html>