<!DOCTYPE html>
<html>

<head>
    <title>Pokedex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <img src="{{ url_for('static', filename='logo.png') }}"
         alt="Pokémon Logo"
         class="logo">

<div class="search-container">
    <form method="POST">
        <input
            type="text"
            name="pokemon"
            placeholder="Enter Pokémon">
        <button type="submit">Search</button>
    </form>
</div>

    {% if pokemon %}
<div class="pokemon-card">

    <h2>
        {{ pokemon.name.title() }}
    </h2>

    <div class="types">

        {% for type in pokemon.types %}

        <span class="type {{ type.lower() }}">
            {{ type }}
        </span>

        {% endfor %}

    </div>

    <img
    class="pokemon-image"
    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.dex }}.png">

<div class="stats">

    <div class="info-box">

        <h4>Height</h4>

        <p>{{ pokemon.height/10 }} m</p>

    </div>

    <div class="info-box">

        <h4>Weight</h4>

        <p>{{ pokemon.weight/10 }} kg</p>

    </div>

</div>
</div>

</div>

    {% endif %}

</body>

</html>