<!DOCTYPE html>
<html>

<head>
    <title>Pokedex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- <img src="{{ url_for('static', filename='Logo.png') }}"> -->  
    <img src="{{ url_for('static', filename='Logo.png') }}"
         alt="Pokémon Logo"
         class="logo">

<form method="POST">
    <input
        type="text"
        name="pokemon"
        placeholder="Enter Pokemon">
    <button>Search</button>
</form>

{% if pokemon %}

<h2>{{ pokemon.name.title() }}</h2>

<img src="{{ pokemon.sprites.front['default'] }}">

<p>Height: {{ pokemon.height }}</p>
<p>Weight: {{ pokemon.weight }}</p>

{% endif %}

</body>

</html>